body {
    box-sizing: border-box;
    font-family: 'Inter';
    font-weight: 400;
    margin: 0;
    background-color: #F6F7F8;
    overflow-y: hidden;
}

input[type=text] {
    padding: 12px 16px;
    font-size: 20px;
}

a:hover {
    cursor: pointer;
}

input[type=date]:hover {
    cursor: pointer;
}

textarea {
    padding: 12px 16px;
    height: 120px;
    width: 408px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    font-size: 20px;
}

textarea:focus {
    border: 1px solid #29ABE2;
}

h2 {
    position: absolute;
    margin: 0;
    top: 206px;
    left: 328px;
    font-size: 61px;
    font-weight: 700;
    font-family: inter;
}

.highlight-color-medium {
    background-color: #FFA800;
}

.highlight-color-urgent {
    background-color: #FF3D00;
}

.highlight-color-low {
    background-color: #7AE229;
}

.bg-color-priority {
    background-color: #FFFFFF;
}

.add-task-informations {
    display: flex;
}

.leftside-add-task {
    width: 440px;
    height: 376px;
    position: absolute;
    top: 327px;
    left: 328px;
}

.parting-line-add-task {
    border: 1px solid #D1D1D1;
    position: absolute;
    height: 424px;
    top: 327px;
    left: 816.25px;
}

.rightside-add-task {
    width: 440px;
    height: 416px;
    position: absolute;
    top: 327px;
    left: 864.25px;
}

.normal-border {
    border: 1px solid #D1D1D1;
}

.error {
    color: #FF8190;
    font-size: 12px;
    line-height: 14.4px;
}

.error-border {
    border: 1px solid #FF8190;
}

.fill-border {
    border: 1px solid #29ABE2;
}

.required-field-title {
    height: 12px;
}

.input-add-task {
    width: 440px;
    display: flex;
    justify-content: flex-end;
}

.add-icon {
    width: 14px;
    height: 14px;
    position: absolute;
    right: 16px;
    bottom: 5px;   
}

.d-flex {
    display: flex;
}

.add-icon:hover {
    padding: 4px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;  
}

::placeholder {
    height: 24px;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    /* line-height: 24px; */
    padding: 0;
}

.required-field-description {
    width: 100%;
    height: 12px;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.4px;
}

.width-440 {
    width: 440px;
}

.fz-20 {
    font-size: 20px;
    line-height: 24px;
}

.width-100 {
    width: 100%;
}

.input-field {
    border-radius: 10px;
    height: 48px;
    /* border: 1px solid #D1D1D1; */
}

.description-input {
    height: 96px;
    width: 100%;
}

.description-category {
    height: 80px;
    width: 100%;
}

.description-textarea {
    position: absolute;
    top: 112px;
    height: 168px;
}

.assigned-to {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 296px;
}

.assigned-to {
    position: absolute;
    top: 296px;
}

.input-description {
    height: 24px;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    font-family: Inter;
    margin-bottom: 8px;
}

.d-flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.position-prio {
    position: absolute;
    top: 120px;
    width: 100%;
    height: 56px;
    gap: 16px;
}

.position-category {
    position: absolute;
    top: 232px;
}

.position-subtasks {
    position: absolute;
    top: 336px;
}

.size-check {
    width: 14px;
    height: 14px;
}

.option-value * {
    padding: 24px;
}

.priority-selection {
    display: flex;
    gap: 16px;
    align-items: center;
}

.priority-selection:hover {
    cursor: pointer;
}

.selection-field {
    width: 136px;
    padding: 16px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    /* background-color: #FFFFFF; */
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.selection-field:hover {
    cursor: pointer;
}

.option-value-disabled {
    padding: 12px 21px;
    /* font-size: 24px; */
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.vs-hidden {
    visibility: hidden;
}

.ps-fixed {
    position: fixed;
}

.required-field-notice {
    display: flex;
    position: absolute;
    top: 830px;
    left: 328px;
    height: 27px;
}

.color-FF8190 {
    color: #FF8190;
}

.d-flex {
    display: flex;
}

.buttons-clear-create {
    position: absolute;
    top: 793px;
    left: 995.25px;
    display: flex;
    gap: 16px;
}

.btn-add-task {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px;
    border: 1px solid #2A3647;
    border-radius: 10px;
}

.bg-color-create {
    background-color: #2A3647;
    color: #FFFFFF;
}

.typography-clear {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

.typography-create {
    font-size: 21px;
    line-height: 25.2px;
    font-weight: 700;
}

.container-create:hover {
    cursor: pointer;
}

.new-subtask {
    display:flex;
    flex-direction:row;
    border:1px solid grey;
    padding:1px;
}

.input-new-subtask {
    flex-grow:2;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.input-new-subtask:focus {
    outline: none;
}

.icon-subtask-field {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    background-color: #FFFFFF;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.icon-subtask-field:hover {
    cursor: pointer;
}

.active-input-subtasks {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 4px;
}

.height-24 {
    height: 24px;
}

.bg-dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* background-color: rgba(0, 0, 0, 0.4); */
    z-index: 100;
}

.added-to-board {
    width: 326px;
    height: 74px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
}

.align-center {
    align-items: center;
    transition: all 900ms;
}

.user-list {
    background-color: #FFFFFF;
    border: 1px #dadada solid;
    max-height: 336px;
    overflow-y: scroll;
    z-index: 3;
    position: relative;
    box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    /* padding: 12px 16px; */
    margin-top: -10px;
    padding-top: 10px;
}

.d-flex-initials {
    display: flex;
    gap: 8px;
}

.select-btn {
    z-index: 10;
    width: 100%;
}

.single-user {
    display: flex;
    gap: 16px
}

.user-field {
    padding: 7px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.typography-contacts-assigned {
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.initials-assigned {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 14.4px;
    height: 42px;
    width: 42px;
    border-radius: 50%;
}
  
.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#initialArea {
    display: flex;
    gap: 10px;
}

.initial-area {
    display: flex;
}