
.add-task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    position: absolute;
    margin: 0;
    top: 206px;
    left: 328px;
    font-size: 61px;
    font-weight: 700;
    font-family: inter;
}

.add-task-informations {
    display: flex;
}

.leftside-add-task {
    width: 440px;
    height: 376px;
    position: absolute;
    top: 327px;
    left: 328px;
}

.parting-line-add-task {
    border: 1px solid #D1D1D1;
    position: absolute;
    height: 424px;
    top: 327px;
    left: 816.25px;
}

.rightside-add-task {
    width: 440px;
    height: 416px;
    position: absolute;
    top: 327px;
    left: 864.25px;
}

.required-field-title {
    width: 119px;
    height: 12px;
}

::placeholder {
    padding: 12px 21px;
    height: 24px;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.required-field-description {
    width: 100%;
    height: 12px;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.4px;
}

.width-440 {
    width: 440px;
}

textarea {
    padding: 0;
    height: 120px;
    width: 440px;
    border-radius: 10px;
    border: 1px solid;
}

.input-field {
    padding: 0;
    border-width: 1px;
    border-radius: 10px;
    height: 48px;
}

.description-input {
    height: 96px;
    width: 100%;
}

.description-category {
    height: 80px;
    width: 100%;
}

.description-textarea {
    position: absolute;
    top: 112px;
    height: 168px;
}

.assigned-to {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 296px;
}

.assigned-to {
    position: absolute;
    top: 296px;
}

.input-description {
    height: 24px;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    font-family: Inter;
    margin-bottom: 8px;
}

.d-flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.position-prio {
    position: absolute;
    top: 120px;
    width: 100%;
    height: 56px;
    gap: 16px;
}

.position-category {
    position: absolute;
    top: 232px;
}

.position-subtasks {
    position: absolute;
    top: 336px;
}

.option-value * {
    padding: 24px;
}

.priority-selection {
    height: 56px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selection-field {
    width: 136px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid;
    border-radius: 10px;
}

.selection-field:hover {
    cursor: pointer;
}

.option-value-disabled {
    padding: 12px 21px;
    font-size: 24px;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.required-field-notice {
    display: flex;
    position: absolute;
    top: 926px;
    left: 328px;
    width: 170px;
    height: 27px;
}

.color-FF8190 {
    color: #FF8190;
}

.d-flex {
    display: flex;
}

.buttons-clear-create {
    position: absolute;
    top: 889px;
    left: 995.25px;
    display: flex;
    gap: 16px;
    width: 309px;
    height: 56px;
    font-size: 21px;
    line-height: 25.2px;
    font-family: inter;
}

.font-size-21 {
    font-size: 21px;
}

.container-clear {
    width: 110px;
    height: 100%;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    gap: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.container-create {
    width: 183px;
    height: 100%;
    /* border: 1px solid; */
    border-radius: 10px;
    display: flex;
    gap: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2A3647;
    color: white;
    font-weight: 700;
    border-style: none;
}