* {
  font-family: "inter";
}

body {
  margin: 0;
  background-color: #f6f7f8;
  max-height: 100vh;
  font-family: "inter";
}

.add_task_formular_template {
  background-color: #ffffff;
  position: relative;
  /* padding: 24px; */
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 30px;
  overflow-y: scroll;
}

.board-distribution {
  position: absolute;
  top: 336px;
  left: 232px;
  padding-left: 64px;
  display: flex;
  justify-content: center;
  height: calc(100vh - 340px);
  width: max-content;
  overflow-y: auto;
}

.board-distribution::-webkit-scrollbar {
  border: none;
  width: 8px;
}

.board-distribution::-webkit-scrollbar-thumb {
  background-color: rgba(168, 168, 168, 1);
  border-radius: 8px;
}

.headline-area-board {
  display: flex;
  width: calc(100% - 232px);
  height: 232px;
  position: absolute;
  top: 96px;
  left: 232px;
}

.contacts-board {
  display: flex;
  padding-left: 8px;
}

.number-done-subtasks {
  display: flex;
  font-size: 12px;
  line-height: 14.4px;
}

.subtasks-loadbar-number {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pd-7-16 {
  padding: 7px 16px;
}

.contact-board {
  width: 32px;
  height: 32px;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
  font-size: 12px;
  line-height: 14.4px;
  /* padding: 7px 16px; */
  color: white;
}

.find-add-board {
  display: flex;
  align-items: center;
  gap: 32px;
}

.mg-left-8 {
  margin-left: -8px;
}

.subtasks-check-board {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 16px 4px 16px;
  font-size: 16px;
  width: max-content;
  box-sizing: border-box;
}

.subtasks-check-board:hover {
  background-color: rgb(238, 238, 238);
  border-radius: 8px;
}

.subtasks-check-board img {
  width: 16px;
  height: 16px;
  cursor: pointer;
  padding: 4px;
  border-radius: 6px;
}

.subtasks-check-board:hover img {
  background-color: rgb(209, 209, 209);
}

.full-name {
  height: 34px;
  display: flex;
  align-items: center;
  /* padding: 7px 16px; */
}

.column-gap-contacts {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 8px;
}

.input {
  border: none;
  background-color: #f6f7f8;
}

input::placeholder {
  color: rgba(209, 209, 209, 1);
}

input:focus {
  outline: none;
}

.find-task {
  background-color: white;
  border: none;
}

.input-find-task {
  width: 280px;
  border: 1px solid rgba(168, 168, 168, 1);
  border-radius: 10px;
  padding: 8px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

.input-find-task input {
  width: 100%;
  height: 32px;
  font-size: 20px;
}

.add-task-headline {
  border-radius: 10px;
  background-color: #2a3647;
  color: white;
  font-weight: 700;
  border-style: none;
  padding: 8px 16px;
  font-size: 21px;
  line-height: 25.2px;
  display: flex;
  align-items: center;
  gap: 4px;
  height: 32px;
}

.headline-board {
  font-size: 61px;
  font-weight: 700;
}

.add_button_headline {
  width: 18.67px;
  height: 18.67px;
}

.headline-search-add {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 64px;
  top: 79.5px;
  width: 90%;
  max-width: 1110px;
  height: 73px;
}

.subline-board {
  width: 1208px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  padding: 0 64px;
  position: absolute;
  top: 200.5px;
}

.subline-field {
  width: 252px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(246, 247, 248);
}

.subline-field-description {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(66, 82, 110, 1);
}

.add-task-board {
  width: 14px;
  height: 14px;
  padding: 3px;
  border-radius: 8px;
  border: 2px solid #2a3647;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plus-board {
  width: 8px;
  height: 8px;
}

.task-area {
  width: 252px;
  min-height: calc(100% - 76px);
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-right: 24px;
  padding-top: 20px;
}

.task-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 220px;
  background-color: #ffffff;
  padding: 16px;
  border-radius: 24px;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 400;
  /* box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.08); */
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
}

.task-card-category {
  height: 27px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.style-sub-tasks {
  font-size: 12px;
  line-height: 14.4px;
}

.bg-color-technical-task {
  background-color: #1fd7c1;
}

.bg-color-user-story {
  background-color: #0038ff;
}

.which-statement {
  padding: 4px 16px;
  gap: 10px;
  border-radius: 8px;
  color: white;
  max-width: 170px;
}

.task-card-assigned {
  display: flex;
  justify-content: space-between;
}

.contacts-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtasks-contacts {
  display: flex;
  flex-direction: column;
}

.header-area-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ft-weight-700 {
  font-weight: 700;
  color: rgba(42, 54, 71, 1);
  font-size: 16px;
  overflow-wrap: break-word;
}

.background-dialog {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-overlay {
  width: 525px;
  z-index: 999;
  background-color: #ffffff;
  border-radius: 30px;
}

.overlay-current-task {
  height: max-content;
  max-height: 100vh;
  width: 445px;
  height: max-content;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  overflow-y: scroll;
  background-color: white;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
  border-radius: 30px;
}

.overlay-current-task::-webkit-scrollbar {
  width: 15px;
  border-radius: 10px;
  color: red;
}

.pop-up {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: #FFFF;
}

.overlay-first-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.overlay-first-row a {
  cursor: pointer;
}

.overlay-category {
  padding: 4px 16px 4px 16px;
  border-radius: 8px;
  color: #ffffff;
  font-size: 23px;
  line-height: 27.6px;
}

.d-flex {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 7px 16px;
}

.overlay-title {
  /* width: 445px; */
  /* height: 219px; */
  width: 100%;
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
}

.overlay-description {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  line-height: 73.2px;
}

.overlay-date {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.overlay-date-edit {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.overlay-prio p {
  padding-bottom: 8px;
  margin: 0px;
}

.prio-name-image {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px 18px;
}

.font-overlay {
  font-size: 20px;
  line-height: 24px;
}

.overlay-subtasks {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.last-section-overlay {
  display: flex;
  justify-content: space-between;
}

.delete-edit-overlay {
  display: flex;
  gap: 8px;
  font-size: 16px;
  line-height: 19.2px;
}

.flex-center {
  display: flex;
  align-items: center;
  gap: 8px;
}

.font-overlay-subtasks {
  font-size: 16px;
  line-height: 19.2px;
}

.input-subtasks-overlay {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.overlay-assigned {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.overlay-assigned-contacts {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.subline-field:hover {
  cursor: pointer;
}

.btn-add-task-board {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 16px;
  border-radius: 10px;
  background-color: #2a3647;
  color: #ffffff;
}

.typography-create {
  font-size: 21px;
  line-height: 25.2px;
  font-weight: 700;
}

.plus-icon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-area-empty-mgs {
  width: 100%;
  height: 48px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(168, 168, 168, 1);
  background-color: rgba(231, 231, 231, 1);
  border: 1px dashed rgba(168, 168, 168, 1);
  border-radius: 10px;
  position: sticky;
  top: 60px;
  z-index: 1;
}

.preview-element-left {
  width: 252px;
  height: 228px;
  border: 1px dashed rgba(168, 168, 168, 1);
  border-radius: 24px;
}
.preview-element-right {
  width: 252px;
  height: 228px;
  border: 1px dashed rgba(168, 168, 168, 1);
  border-radius: 24px;
}

.loadbar-container {
  width: 128px;
  border-radius: 8px;
  background-color: #f4f4f4;
}

.loadbar {
  height: 8px;
  background-color: #4589ff;
  width: 0;
  transition: width 0.3s ease;
  border-radius: 16px;
}

.title-headline {
  display: flex;
}

.title-edit-board {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-edit-title {
  background-color: #ffff;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 12px 21px;
  font-size: 20px;
  font-family: "inter";
  width: 403px;
}

.vs-hidden {
  visibility: hidden;
}

.description-edit-board {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hover:hover {
  cursor: pointer;
}

.input-contacts-edit {
  background-color: #ffffff;
  height: 24px;
  width: 239px;
}

.input-contacts-edit::placeholder {
  color: #000000;
  font-size: 20px;
}

textarea {
  padding: 18px 16px;
  height: 84px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  font-size: 20px;
  font-family: "inter";
}

.required-field-edit {
  font-size: 12px;
}

.prio-area {
  display: flex;
  align-items: center;
  gap: 8px;
}

.highlight-color-medium {
  background-color: #ffa800;
}

.highlight-color-urgent {
  background-color: #ff3d00;
}

.highlight-color-low {
  background-color: #7ae229;
}

.selection-field {
  width: 136px;
  padding: 16px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  /* background-color: #FFFFFF; */
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.contacts-edit-board {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 4px;
}

.add-contacts-edit-board {
  width: 408px;
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
}

.dropdown-icon {
  display: flex;
  align-items: center;
}

.task-msg {
  color: rgba(168, 168, 168, 1);
  overflow-wrap: break-word;
}

.btn-hover-trash:hover {
  color: var(--accent-color);
}

.btn-hover-edit:hover {
  color: var(--accent-color);
}

.img-hover-trash {
  background-image: url("../img/trash-blue.png");
  width: 24px;
  height: 24px;
}

.img-hover-edit {
  background-image: url("../img/edit-pencil.png");
  width: 24px;
  height: 24px;
}

.task-detail-view-section-title {
  font-size: 20px;
  font-weight: 400;
  color: rgba(66, 82, 110, 1);
}

.task-assigned-to {
  display: flex;
  gap: 12px;
  color: balck;
}

.task-assignet-contact-name {
  height: 34px;
  display: flex;
  align-items: center;
  font-size: 19px;
  font-weight: 400;
}

.progerss-bar-container {
  width: 128px;
  height: 8px;
  border-radius: 8px;
  background-color: rgba(244, 244, 244, 1);
}

.loadbar {
  height: 8px;
  background-color: rgba(69, 137, 255, 1);
  transition: width 1s;
}

.subtasks-loadstatus {
  display: flex;
  align-items: center;
  gap: 11px;
}

.subtasks-progress-text {
  font-size: 12px;
}

.edit-task-headlines {
  font-size: 20px;
  color: rgba(42, 54, 71, 1);
}

@media (max-width: 1430px) {
  .board-distribution {
    top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    box-sizing: border-box;
    overflow-y: unset;
  }

  .statement-section {
    width: calc(100vw - 323px);
    margin-top: 26px;
  }

  .task-area {
    min-height: 200px;
    min-width: 100%;
    flex-direction: row;
    max-width: calc(100% - 64px);
    overflow: auto;
    box-sizing: border-box;
    padding: 12px;
  }

  .task-area::-webkit-scrollbar {
    border: none;
    height: 8px;
  }

  .task-area::-webkit-scrollbar-thumb {
    background-color: rgba(168, 168, 168, 1);
    border-radius: 8px;
  }
}

@media (max-width: 1040px) {
  .hide1040 {
    display: none;
    padding: 8px;
  }
  .input-find-task {
    width: 200px;
  }

  .headline-search-add {
    justify-content: space-around;
    left: 58px;
  }

  .statement-section {
    min-width: 100%;
  }
}

@media (max-width: 860px) {
  
  .over-div {
    padding-top: 60px !important;
  }

  .board-distribution {
    left: 0px;
    width: 100%;
    padding-left: 16px;
    min-height: 96%;
  }

  .headline-area-board {
    left: 0px;
    width: 100%;
    justify-content: left;
  }

  body {
    margin-bottom: 70px;
  }

  .headline-search-add {
    justify-content: space-around;
    left: 0px;
  }
}

@media (max-width: 600px) {
  .headline-search-add {
    flex-direction: column;
    left: 16px;
    margin-bottom: 15px;
  }

  .board-distribution {
    top: 330px;
  }

  .btn-add-task {
    position: absolute;
    top: 7px;
    right: 10px;
  }

  .input-find-task {
    width: 100%;
    margin-top: 30px;
  }

  .headline-board {
    font-size: 47px;
  }

  .overlay-current-task {
    height: max-content;
    max-height: clac(100vh - 80px);
    box-sizing: border-box;
    width: 100%;
  }
}

@media (max-width: 400px) {
  .overlay-current-task {
  }

  .overlay-title {
    font-size: 36px;
  }

  .font-overlay {
    font-size: 16px;
  }

  .task-detail-view-section-title {
    font-size: 16px;
  }
}
