input {
  border: none;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::placeholder {
  color: rgb(209, 209, 209);
}

.contact-mask-title {
  display: flex;
  align-items: left;
  flex-direction: column;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  height: 592px;
  background-color: rgba(42, 54, 71, 1);
  padding-left: 48px;
  padding-right: 48px;
}

.contact-mask-title img {
  margin-top: 154px;
  width: 55px;
  height: 66px;
  margin-bottom: 12px;
}

.contact-mask-title-first {
  color: white;
  font-size: 61px;
  font-weight: 600;
  white-space: nowrap;
}

.contact-mask-title-second {
  color: white;
  font-size: 27px;
  font-weight: 200;
  white-space: nowrap;
}
.contact-mask-workbench {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 795px;
  height: 592px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-end;
}

.contact-mask-title-underline {
  margin-top: 16px;
  border-radius: 5px;
  width: 90px;
  height: 3px;
  background-color: var(--accent-color);
}

.contact-form-exit-x {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 48px;
  right: 48px;
}

.mask-contact-info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form-exit-x:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.mask-contact-img {
  height: 100%;
  min-width: 290px;
}

.mask-contact-img-div {
  position: relative;
  top: 204px;
  left: 97px;
  height: 120px;
  width: 120px;
  background-color: rgb(209, 209, 209);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: solid 3px white;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.mask-contact-img-div img {
  height: 64px;
  width: 64px;
}
.contact-mask-btn {
  display: flex;
}

.contact-mask-btn button {
  display: flex;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 20px;
  padding: 16px;
  gap: 4px;
}

.contact-form-cancel-btn {
  height: 56px;
  margin-right: 24px;
  background-color: white;
  color: var(--primary-color);
  border: solid 1px var(--primary-color);
}

.contact-form-cancel-btn img:hover {
  color: red;
}

.contact-form-create-contact-btn {
  height: 56px;
  background-color: var(--primary-color);
  color: white;
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-form-input-div {
  width: 380px;
  height: 24px;
  margin-bottom: 32px;
  border: solid 1px rgb(209, 209, 209);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 21px 13px 21px;
}

.contact-form-input-div img {
  width: 24px;
  height: 24px;
}
