.infoContent{
    margin-top: 206px;
    margin-left: 328px;
    margin-right: 98px;
}
.helpSectionBackImage{
    position: fixed;
    top: 225px;
    right: 96px;
}

.helpSectionBackImage:hover{
    cursor: pointer;
    border-radius: 50%;
    background-color: #e2e6ec;
}