body{
    font-family: inter;
}

.legalNoticeContent{
    margin-top: 206px;
    margin-left: 328px;
    margin-right: 98px;
}

.legalNoticeSectionBackImage{
    position: fixed;
    top: 225px;
    right: 96px;
}

.legalNoticeSectionBackImage:hover{
    cursor: pointer;
    border-radius: 50%;
    background-color: #e2e6ec;
}

h1{
    font-size: 61px;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 27px;
}