body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

a {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

.sign-up-input form {
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-box {
  height: 493px;
  width: 652px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 2px black;
}

.sign-up-header {
  display: flex;
  justify-content: center;
}

.sign-up-text {
  font-size: 61px;
  font-weight: 700;
}

.under-line-title {
  width: 150px;
  height: 3px;
  background-color: rgb(40, 171, 226);
  border-radius: 3px;
}

.sign-up-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-input input {
  width: 98%;
  max-width: 422px;
  height: 48px;
}

.to-signup {
  display: flex;
  position: absolute;
  top: 67px;
  right: 122px;
  gap: 35px;
}
