body{
    margin: 0;
    font-family: 'Inter';
}

.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 348px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 5px 0 8px #888888;
}
#helpImage:hover{
    width: 24px;
    height: 24px;
}

.headerImages{
    display: flex;
    align-items: center;
}

.relative{
    position: relative;
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.relative:hover{
    background-color: #e2e6ec;
}

span.absolute{
    position: absolute;
    top: 16px;
    left: 13px;
    color: #29ABE2;
    font-size: 20px;
}

span.absolute:hover{
    cursor: pointer;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 232px;
    background-color: #2a3647;
    display: flex;
    flex-direction: column;
}

.sidebarLogo{
    margin-top: 64px;
    margin-left: 66px;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 114px; 
}

.menuLinks{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 46px;
    width: 166px;
    margin-bottom: 15px;
    padding-left: 66px;
}

.menuLinks:hover{
    background-color: #2a3d59;
    cursor: pointer;
}

.icon{
    margin-right: 10px;
}

.privacyLegalLinks{
    position: fixed;
    bottom: 64px;
    margin-left: 66px;
}

p.privacyLegalLink{
    color: #A8A8A8;
}

p.privacyLegalLink:hover{
    color: #29ABE2;
    cursor: pointer;
}

a{
    text-decoration: none;
}

.dNone{
    display: none;
}