body{
    margin: 0;
}

p{
    color: #CDCDCD;
}

.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 348px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 5px 0 8px #888888;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 232px;
    background-color: #2a3647;
    display: flex;
    flex-direction: column;
}

.sidebarLogo{
    margin-top: 64px;
    margin-left: 66px;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 66px;
    margin-top: 114px; 
}

.menuLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
}

.icon{
    margin-right: 10px;
}