:root {
  --primary-color: rgba(42, 54, 71, 1);
  --secondary-color: rgba(9, 25, 49, 1);
  --accent-color: rgba(41, 171, 226, 1);
}

@font-face {
  font-family: "inter";
  src: url("fonts/inter/Inter-VariableFont_slnt,wght.ttf");
  /* font-weight: 100; */
}

body {
  margin: 0;
  font-family: "inter";
}

h2 {
  position: absolute;
  top: 206px;
  left: 328px;
  font-size: 61px;
  font-weight: 700;
  font-family: "inter";
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input:focus {
  outline: none;
}

.join-button {
  background-color: var(--primary-color);
}

.join-button:hover {
  background-color: var(--accent-color);
}

.join-button:active {
  background-color: var(--secondary-color);
}

.join-button-empty {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.join-button-empty:hover {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.join-button-empty:active {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}
