<div class="headline-area-template">
    <span class="headline-add-task-template">Add Task</span>
    <a onclick="closePopUp()"><img src="/img/close.png"></a>
</div>
<form onsubmit="createTaskAtBoard(); return false">
    <div class="test-container">
        <div class="leftside-add-task-template">
            <div class="d-flex-column-center">
                <div class="title-template">
                    <span>Title</span>
                    <span class="color-FF8190">*</span>
                </div>
                <input class="input-field focus normal-border pd-font-size" id="title" type="text"
                    placeholder="Enter a title" required>
                <div id="requiredTitle" class="required-field-title">
                    <span class="error vs-hidden">This field is required</span>
                </div>
            </div>

            <div class="description-textarea-template d-flex-column-center">
                <div class="input-description">
                    <span>Description</span>
                </div>
                <textarea class="normal-border" id="description" placeholder="Enter a description"></textarea>
                <div class="required-field-description">
                    <span id="placeHolder"></span>
                </div>
            </div>

            <div class="d-flex-column-center" onclick="showCheckboxes(event)">
                <span class="input-description">Assigned to</span>
                <div class="input-category new-subtask normal-border hover blue-focus">
                    <input onkeydown="searchContact()" tabindex="0"
                        class="input-search-contacts normal-border pd-font-size" id="inputToSearchContact" type="text"
                        placeholder="Select contacts to assign">
                    <div class="dropdown-icon">
                        <img src="/img/arrow_drop_down.png" id="dropDownArrow">
                    </div>
                </div>
            </div>
            <div>
                <div class="user-list vs-hidden" id="checkboxes"></div>
                <div id="initialArea"></div>
            </div>
        </div>

        <div class="parting-line-add-task-template"></div>

        <div class="rightside-add-task-template">

            <div class="d-flex-column-center">
                <div class="input-description">
                    <div class="title-template">
                        <span>Due date</span>
                        <span class="color-FF8190">*</span>
                    </div>
                </div>
                <input class="input-field option-value-disabled hover normal-border" id="dueDate" type="date" required>
                <div id="requiredDate" class="required-field-title vs-hidden">
                    <span class="error">This field is required</span>
                </div>
            </div>

            <div class="">
                <div class="input-description">
                    <span>Prio</span>
                </div>
                <div class="prio-area" id="prioArea">
                    <div class="prio-hover" onclick="prioSelectAddTask('urgent')">
                        <img id="urgent" src="../img/urgent.png">
                    </div>

                    <div onclick="prioSelectAddTask('medium')">
                        <img class="prio-hover" id="medium" src="../img/medium_highlight.png">
                    </div>

                    <div onclick="prioSelectAddTask('Low')">
                        <img class="prio-hover" id="low" src="../img/low.png">
                    </div>
                </div>
            </div>

            <div class="d-flex-column-center">
                <div class="title-template input-description">
                    <span>Category</span>
                    <span class="color-FF8190">*</span>
                </div>
                <div tabindex="0" id="containerCategory" class="input-category pd-12-21 new-subtask normal-border hover"
                    onclick="showCategories()">
                    <span id="categoryDropdown">Select task category</span>
                    <div class="d-flex-template">
                        <img src="/img/arrow_drop_down.png" id="dropDownArrowCategory">
                    </div>
                </div>
                <div id="categories" class="vs-hidden">
                    <div class="categories-list">
                        <span onclick="changeCategory('Technical Task')" class="pd-12-16">Technical Task</span>
                        <span onclick="changeCategory('User Story')" class="pd-12-16">User Story</span>
                    </div>
                </div>
            </div>

            <div class="d-flex-column-center">
                <span class="input-description">Subtasks</span>
                <div id="inputFieldSubtasks" class="input-field subtasks-field normal-border">
                    <input onclick="changeIconsSubtask(event)" class="input-new-subtask pd-font-size" type="text"
                        id="subTasks" placeholder="Add new subtask">
                    <a id="addIconSubtasks" class="icon-subtask-field"><img src="/img/add.png"></a>
                </div>
                <div id="newSubTaskField"></div>
            </div>
        </div>
    </div>

    </div>
    <div class="reuired-notice-cancel-create">
        <div class="required-field-notice">
            <span>This field is required</span>
            <span class="color-FF8190">*</span>
        </div>

        <div class="buttons-clear-create">
            <button class="btn-add-task-template border-cancel join-button-empty"
                onclick="clearAddTaskForm(); return false">
                <span class="typography-clear ">Cancel</span>
                <img src="/img/iconoir_cancel.png">
            </button>

            <button class="btn-add-task-template bg-color-create join-button" id="createBtn">
                <span class="typography-create ">Create Task</span>
                <img src="/img/check.png">
            </button>
        </div>
    </div>
</form>