<div id="id-contact-mask-title" class="contact-mask-title">
  <img src="../img/logoBright.png" alt="">
  <div class="contact-mask-title-first"></div>
  <div class="contact-mask-title-second"></div>
  <div class="contact-mask-title-underline"></div>
</div>
<div id="id-contact-mask-workbench" class="contact-mask-workbench">
  <div id="id-mask-contact-img" class="mask-contact-img">
    <div id="id-mask-contact-img-div" class="mask-contact-img-div"></div>
  </div>
  <div id="id-mask-contact-info" class="mask-contact-info">
    <form onsubmit="editContact(); return false;">
      <input type="text">
      <input type="email">
      <input type="tel">
      <div class="contact-mask-btn">
        <button onclick="closeContactMask(event)">Cancel</button>
        <button type="submit">Create contact</button>
      </div>
    </form>

  </div>
</div>