<img src="/img/logoBright.png" class="sidebarLogo" width="100px" height="122px">
<div class="menu">
    <div class="menuLinks">
        <img class="icon" src="/img/iconSummary.png">
        <p class="menuPTag">Summary</p>
    </div>
    <div class="menuLinks">
        <img class="icon" src="/img/iconAddTask.png">
        <p class="menuPTag">Add Task</p>
    </div>
    <div class="menuLinks">
        <img class="icon" src="/img/iconBoard.png">
        <p class="menuPTag">Board</p>
    </div>
    <div class="menuLinks">
        <img class="icon" src="/img/iconContacts.png">
        <p class="menuPTag">Contacts</p>
    </div>
</div>
<div class="privacyLegalLinks">
    <a href=""><p class="privacyLegalLink">Privacy Policy</p></a>
    <a href=""><p class="privacyLegalLink">Legal notice</p></a>
</div>