<img src="/img/logoBright.png" class="sidebarLogo" width="100px" height="122px">
<div class="menu">
    <div class="menuLinks">
        <img src="/img/iconSummary.png" class="icon" height="25px" width="25px">
        <p style="color: #CDCDCD;">Summary</p>
    </div>
    <div class="menuLinks">
        <img src="/img/iconAddTask.png" class="icon" height="25px" width="25px">
        <p style="color: #CDCDCD;">Add Task</p>
    </div>
    <div class="menuLinks">
        <img src="/img/iconBoard.png" class="icon" height="25px" width="25px">
        <p style="color: #CDCDCD;">Board</p>
    </div>
    <div class="menuLinks">
        <img src="/img/iconContacts.png" class="icon" height="25px" width="25px">
        <p style="color: #CDCDCD;">Contacts</p>
    </div>
</div>
<div class="privacyLegalLinks">
    <a href=""><p class="privacyLegalLink">Privacy Policy</p></a>
    <a href=""><p class="privacyLegalLink">Legal notice</p></a>
</div>